body{
    background-color: rgba(238, 234, 229, 0.897);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent_hed{
    width:75%;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.4rem;
    border: 1px solid black;
    background-color: rgba(223, 216, 207,0.3);
    backdrop-filter: blur(20px);
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(180, 174, 166, 0.87);
}

.titll_hed{
    width: fit-content;
    padding: 0.1rem 2rem;
    margin: 20px auto;
    background-color: gold;
}
.basket_number,.house_svg{
    padding: 5px 10px;
    cursor: pointer;
}

.basket_number:hover,.house_svg:hover{
    background-color: burlywood;
}
.parent_logo,.basket_number{
    width: 60px;
    text-align: center;
}
.number{
    color:white;
    background-color: rgb(255, 0, 0);
    border-radius: 0.2rem;
}


/* .contenar------------------------------------------------------ */
.contenar{
    max-width: 80%;
    margin: 60px auto 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 24px;
    text-align: center;
}

.box{
    width: 300px;
    padding: 10px;
    background-color: rgb(240, 237, 243);
    box-shadow: 1px 1px 7px rgba(133, 130, 126, 0.87);
    border-radius: 4px;
}
.id_box{
     display: none; 
}

.name_product{
    width: 100%;
    margin: 5px auto 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 4px;
    font-family: monospace;
    font-size: 17px;
}
.img_product{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border: 5px solid rgba(105, 109, 102, 0.346);
    border-radius: 4px;
}
.parent_bay_price {
    width: 100%;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
}
.price {
    width: 120px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(82, 204, 159, 0.801);
}
.btn_bay{
    width: 120px;
    padding: 5px;
    background-color: orangered;
    border: 1px solid rgb(221, 96, 13);
    border-radius: 4px;
    cursor: pointer;
}
.btn_bay:hover{
    background-color: rgb(255, 145, 0);
}

/* ----------------------------------------------------------- */
/* basket */
.contenar_basket{
    max-width: 80%;
    margin:8rem auto 6rem auto;
 
}
 .all_basket{
    display: none;
 }
  
 .titll_basket{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    margin-bottom: 0.5rem;
 }


 .titll_basket *{
    width: 4.5rem;
    background-color: rgb(214, 179, 102);
    padding: 0.5rem;
    font-family: monospace;
    font-size: 1rem;
 }

 .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
 }
 .item *{
    width: 4.8rem;
    
 }
 .img_basket:hover{
    transform: scale(1.5);
 }
 .d_box{
    display: none;
 }
 .number_list{
    border-right: 0.2rem solid orangered;
    height:3.4rem;
    line-height: 3.4rem;
 }
 
 .img_basket{
    height: 3.4rem
 }
 .price_basket{
    font-size: 1.2rem;
 }
 .input_number,.remove_item{
    outline: none;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.5rem ;
    
 }
 
 .remove_item{
    background-color: rgba(218, 110, 71, 0.897);
    cursor: pointer;
 }
.remove_item:hover{
    background-color: orangered;
}
 .parent_totall_price{
    text-align: center;
    margin:1rem 0 1rem;
    display: flex;
    justify-content: end;
}
.totall_price{
    width: 12.3rem;
    padding: 0.6rem;
    background-color: rgb(181, 168, 194);
    border-radius: 0.2rem;
}
 .finsh_bay{
    display: block;
   width: 12.3rem;
    float: right;
    padding: 0.5rem;
    background-color: rgb(33, 172, 33);
    border: 1px solid black;
    border-radius: 0.2rem;
 }
 .finsh_bay:hover{
    background-color: rgb(40, 219, 40);
    cursor: pointer;
 }



.boxx{
    display: none;
    animation: autoo 7s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(0, -50%);
    background-color: aqua;
}


.circle{
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    border-radius: 50%;    
    transform:
        rotate(calc((var(--position)*90)*1deg))
        translate(60px);
    animation: identifier calc((var(--position)*1)*1s) infinite ;
    animation-direction: alternate;
}
@keyframes autoo{
    from{
        transform: perspective(1000px) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotate(360deg);
    }
}
@keyframes identifier {
    from{
        height: 50px;
        width: 50px;
        background-color: white;
    }
    to{
        height: 30px;
        width: 30px;
        background-color: red;
    }
    
}

/* --------------------------media */
@media screen and (max-width: 1200px){
   .box{
    width: 250px;
   }
   .img_product{
   height: 200px;
   }
}

@media screen and (max-width: 992px){
   .box{
    width: 200px;
   }
   .img_product{
    height: 170px;
    }
}


@media screen and (max-width: 680px){
    .parent_hed{
        width: 75%;
   }
   .box{
    width: 200px;
   }
 
}

   /*576------------------------------ */
   @media screen and (max-width: 576px){
    .box{
        width: 170px;
       }
       .img_product{
        height: 130px;
    }
    .contenar{
        width: 95%;
    }
    .parent_img_price{
        flex-basis: 100%;
    }
    .parent_input_bay{
        flex-basis: 100%;
        
    }
    .item{
        flex-wrap: wrap;
    }
    .input_number,.remove_item{
        width: 4.7rem;
    }

}

@media screen and (max-width: 480px){
    .contenar{
        width: 90%;
        justify-content: space-around;
    }
    .box{
        width: 280px;
        
    }
    .img_product{
        height: 250px;
    }
   
}
@media screen and (max-width: 496px){
    .contenar_basket{
        max-width: 90%;
       }
    .titll_basket{
        display: none;
     }
    .number_list{
        width: 1.5rem;
     }
}